@charset "utf-8";
* {
	outline: none;
}

html {
	font-size: 16px;
	color: white;
	background-color: #000;
}

body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	overflow: hidden;
}

#header {
	flex-grow: 0;
	flex-basis: auto;
}

#main {
	flex: 1;
	flex-grow: 1;
	flex-basis: 0;
	overflow-y: scroll;
}

#footer {
	flex-grow: 0;
	flex-basis: auto;
}

#banner {
	height: 50px;
}

#calc select {
	color: white;
	text-align: right;
	overflow: hidden;
}

#total {
	background-color: #111;
	padding-right: 1rem;
	font-size: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#price {
	background-color: #111;
	margin: 0;
	padding-top: 0;
	padding-right: 1rem;
	font-size: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

button {
	color: white;
	font-size: 2rem;
	border: 1px solid #111;
}

select {
	font-size: 1rem;
}

#tax {
	background-color: #242;
}

#discount {
	background-color: #224;
}

.buttons button {
	background-color: #222;
}

.buttons button.op {
	background-color: #422;
}

#calc {
	display: grid;
}

#calc {
	min-height: 16rem;
	grid-template-areas: "digit digit digit price price" "digit digit digit tax discount" "digit digit digit tax discount" "digit digit digit tax discount";
	grid-auto-columns: 1fr;
}

#price {
	grid-area: price;
}

.buttons {
	grid-area: digit;
}

#tax {
	grid-area: tax;
}

#discount {
	grid-area: discount;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
}

.buttons button {
	flex: 1 0 30%;
}