@charset "utf-8";
* {
	outline: none;
}

html {
	font-size: 16px;
	color: white;
	background-color: #000;
}

body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	overflow: hidden;
}

#header {
	flex-grow: 0;
	flex-basis: auto;
}

#main {
	flex: 1;
	flex-grow: 1;
	flex-basis: 0;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
}

#main>div {
	display: flex;
	align-items: center;
}

#footer {
	flex-grow: 0;
	flex-basis: auto;
}

#banner {
	height: 50px;
}

#item {
	margin: 0.1rem;
	font-size: 1.2rem;
	color: white;
	background-color: #111;
	border: 1px solid #222;
}

#item button {
	margin: 0.1rem;
	font-size: 2rem;
	color: white;
	background-color: #333;
	border: 1px solid #222;
}

#item button:active {
	background-color: #111;
}

#item button:disabled {
	color: #C00;
	background-color: #222;
}

#calc select {
	color: white;
	text-align: right;
	overflow: hidden;
}

#calc #total {
	background-color: #111;
	padding-right: 1rem;
	font-size: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#calc #price {
	background-color: #111;
	margin: 0;
	padding-top: 0;
	padding-right: 1rem;
	font-size: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#calc button {
	color: white;
	font-size: 2rem;
	border: 1px solid #111;
}

#calc select {
	font-size: 1rem;
}

#calc {
	display: grid;
	min-height: 16rem;
	grid-template-areas: "digit digit digit price price" "digit digit digit tax discount" "digit digit digit tax discount" "digit digit digit tax discount";
	grid-auto-columns: 1fr;
}

#calc #price {
	grid-area: price;
}

#calc .buttons {
	grid-area: digit;
	display: flex;
	flex-wrap: wrap;
}

#calc #tax {
	grid-area: tax;
	background-color: #242;
}

#calc #discount {
	grid-area: discount;
	background-color: #224;
}

#calc .buttons button {
	flex: 1 0 30%;
	background-color: #222;
}

#calc .buttons button:active {
	background-color: #111;
}

#calc .buttons button.op {
	background-color: #422;
}

#calc .buttons button.op:active {
	background-color: #211;
}